[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
jupyter = "*"
pandas = "*"
matplotlib = "*"
nltk = "*"
seaborn = "*"
color-extraction = "*"
pylette = "*"
"colorgram.py" = "*"
rembg = "*"
keras = "*"
scikit-learn = "*"
tensorflow = "*"
opencv-python = "*"
fastparquet = "*"
colorthief = "*"
sns = "*"
tqdm = "*"
backgroundremover = "*"
torch = "*"
torchvision = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.10"
